/*contentwrapper will ensure that everything is centered on the page, working on other page but not on service page, can't figure out why ????*/
#content-wrapper{
	width: 1200px;
	margin: 0 auto;
}

/*navbar from bikes*/
nav{
	padding: 20px;
	background-color: #30303a;
	width: 100%;
	position: fixed;
	width: 100%; 
}

ul{
	list-style-type: none;
	text-align: right;
}

ul li{
	display: inline;
	margin-right: 50px;
 }

ul li a{
	color: white;
	text-decoration: none;
}

ul li a:hover{
	color: #8B5AE5;
}

/* ----footer---- */

.footer{
	background-color:#30303a;
	display:block;
	margin:0 auto;
}

.column-footer2 img{
	max-width: 150px;
	display:block;
	margin:auto;
}

.column-footer{
	width: 25%;
	float: left;
	margin-left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.column-footer1{
	width: 30%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	padding-top: 40px;
}

.column-footer2{
	width: 30%;
	float: left;
	padding-top: 21px;
	padding-bottom: 20px;
	margin:auto;
}

.column-footer3{
	width: 30%;
	float: left;
	padding-bottom: 20px;
	padding-left: 20px;
	text-align: right;
	color: white;
	text-align: left;
	border-left: solid 3px #8B5AE5;
	margin-top: 50px;
}

.column-footer p{
	padding-top: 30px;
	border-left: solid 3px #8B5AE5;
}

.column-footer1 a{
	color: white;
 	text-decoration: none;
}
.column-footer1 a:hover{
	color: #8B5AE5;
 	text-decoration: none;
}

.section-footer{
	background-color: #30303a;
	padding-bottom: 200px;
	display:block;
	margin:auto;
}